body{width: 940px auto;}

header {
    width: 100%;
    background-color: aqua; 
    text-align: center;
    display: inline-flex
}
nav{
    width: 80%;
}

a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

main{
    width: 940px;
}

.opciones{
    width: 28%;
    display: inline-flex;
    margin: 5% 10%;
}
.tarjeta {
    background-color: aqua;
    border: 1px solid black;
    margin: auto 5%;

}
ul li p {
    font-weight: bold;
}

main ul li:hover{
    color: rgb(115, 59, 218);}

main ul li h2:hover {
    font-size: 35px;
}
footer{
    background-color: teal;
    text-align: center;
}